{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for i in range(count) %}
    <div class="col">
      <div class="card shadow-sm">
        <img src="{{ image_list[i] }}" alt="{{ alt_list[i] }}" />
        <div class="card-body">
          <form method="POST" action="">
            <input name="name" class="form-control" placeholder="New Name" />
            <label for="floatingInput">{{ name_list[i] }}</label>
            <input
              name="description"
              class="form-control"
              placeholder="New description"
            />
            <label for="floatingInput">{{ description_list[i] }}</label>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group d-flex">
                <input type="hidden" name="_id" value="{{ id_list[i] }}" />
                <button
                  type="submit"
                  class="btn btn-sm btn-outline-edit bg-warning text-dark"
                >
                  Submit Changes
                </button>
              </div>
            </div>
          </form>
          <form
            method="post"
            action="{{ url_for('delete_product')}}"
            class="delete-product"
          >
            <input type="hidden" name="_id" value="{{ id_list[i] }}" />
            <input type="hidden" name="type_" value="{{ type_list[i] }}" />
            <button
              type="submit"
              class="btn btn-sm btn-outline-danger bg-danger text-dark"
            >
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
