{% extends "base.html" %} {% block content %}
<div class="container sign-in d-flex justify-content-center align-items-center">
  <form action="" method="post">
    <h1 class="h3 mb-3 fw-normal">Make Any Changes here</h1>

    <div class="form-floating mb-2">
      <input
        name="name"
        class="form-control"
        id="InputEmail"
        placeholder="{{ name }}"
      />
      <label for="floatingInput">{{ name }}</label>
    </div>
    <div class="form-floating mb-4">
      <input
        name="description"
        class="form-control"
        id="InputPassword"
        placeholder="{{ description }}"
      />
      <label class="edit-desc" for="floatingPassword">{{ description }}</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">
      Submit Changes
    </button>
  </form>
</div>
> {% endblock %}
