{% extends "base.html" %} {% block content %}
<div class="container sign-in d-flex justify-content-center align-items-center">
  {% if message %}
  <div class="alert alert-secondary" role="alert">
    <p>{{ message }}</p>
  </div>
  {% endif %}
  <form action="" method="post">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    <div class="form-floating mb-2">
      <input
        name="email"
        class="form-control"
        id="InputEmail"
        placeholder="Enter email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-4">
      <input
        type="password"
        name="password"
        class="form-control"
        id="InputPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
  </form>
</div>
{% endblock %}
